.title {
    margin: 25px;
}

h1.title {
    font-size: 34px;
    color: #444;
}

h2.title {
    font-size: 26px;
    color: #555;
}

h3.title {
    font-size: 22px;
    color: #666;
}

p.text {
    margin: 20px;
    font-size: 16px;
    color: #666;
}

p.text .allotted {
    padding: 3px;
    margin-left: 4px;
    line-height: 30px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

li {
    font-size: 16px;
}

.example {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

.ex-title {
    font-size: 24px;
    color: #666;
}

.ex-toggle {
    color: #999;
    cursor: pointer;
}

.ex-toggle:hover {
    text-decoration: underline;
}

/* ================================== */
.global-search-wrapper {
    width: 300px;
}
.global-search-wrapper .ant-input-suffix {
    right: 0 !important;
}

/* =================================== */
.ml20 {
    margin-left: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.badge {
    margin-left: 40px;
}

.badge a {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #ccc;
}

.badge:first-child {
    margin-left: 0;
}

.events {
    list-style: none;
    margin: 0;
    padding: 0;
}
.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}
.notes-month {
    text-align: center;
    font-size: 28px;
}
.notes-month section {
    font-size: 28px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}

.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 300px;
}
.demo-loading {
    position: absolute;
    bottom: -40px;
    left: 50%;
}
.table-operations {
    margin-bottom: 16px;
}

.table-operations > button {
    margin-right: 8px;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
}

.highlight {
    color: #f50;
}

th.column-money,
td.column-money {
    text-align: right !important;
}

.editable-cell {
    position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
    padding-right: 24px;
}

.editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
}

.editable-cell-icon {
    line-height: 18px;
    display: none;
}

.editable-cell-icon-check {
    line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
    display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
    color: #108ee9;
}

.editable-add-btn {
    margin-bottom: 8px;
}
.editable-row-operations a {
    margin-right: 8px;
}

#components-table-demo-drag-sorting tr.drop-over-downward td {
    border-bottom: 2px dashed #1890ff !important;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
    border-top: 2px dashed #1890ff !important;
}

.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}

.vertical-center-modal:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}

.upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
}
